*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    background-color: #181c21;
}

.title {
    margin: 100px;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 36px;
    color: white;
}

.logo {
    width: 256px;
    height: 256px;
    background-image: url(/assets/devhub_logo.png);
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}